body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 200px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 0;
    margin: 0 0 1em 0;
}

form {
    display: flex;
}

.form-group {
    display: flex;
    justify-content: center;
    flex: 1;
}

.add-domain-section {
    margin: 1em 0;
}

.button {
    diplay: block;
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    color: white;
    display: none;
}

.button-add {
    background-color: darkgreen;
}

.button-remove {
    background-color: darkred;
}

.options {
    height: 1em;
    float: right;
}
